@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome to DenRoze</h1>
    <p>feel free to order anything and get it delivered to your house</p>
</div>
